@import "tailwindcss";

:root {  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
    display: flex;
  flex-direction: column;
  min-height: 100vh;

}
body {
  margin: 0;
  min-height: 100vh;
}
